<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>OCR Demo</title>
</head>

<body>
  
  <h1>Image to PDF</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
      <input type="file" name="avatar">
      <input type="submit" name="submit">
  </form>
   
   
</body>
</html>
